.calculator_wrapper {
  width: 250px;
  height: 380px;
  position: relative;
}

.calculator {
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 20px 0px #aaa;
}

.calculator_display {
  color: white;
  background: #45c203;
  font-size: 3rem;
  flex: 1;
}

.auto-scaling-text {
  display: inline-block;
}

.calculator_display .auto-scaling-text {
  padding: 0 30px;
  position: absolute;
  right: 0;
  transform-origin: right;
}

.calculator_keypad {
  height: 303px;
  display: flex;
}

.calculator .input_keys {
  width: 240px;
}

.calculator .function_keys {
  display: flex;
}

.calculator .digit_keys {
  background: #ddd;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  padding-bottom: 0.2rem;
}

.calculator .calculator_keypad .calculator-key {
  width: 50px;
  height: 50px;
  // border-top: 1px solid #777;
  // border-right: 1px solid #666;
  // text-align: center;
  // line-height: 80px;

  // width: 45px;
  // height: 45px;
  border-radius: 50%;
  float: left;
  padding: 0;
  margin: 5px;
  box-sizing: border-box;
  background: #e7f7de;
  border: none;
  line-height: 24px;
  font-weight: 700;
  color: #5e5858;
  cursor: pointer;
}
.calculator .function_keys .calculator-key {
  font-size: 1.2rem;
  margin-left: 0.5rem;
}
.calculator .function_keys .key-multiply {
  line-height: 50px;
}
.calculator .digit_keys .calculator-key {
  font-size: 1.5em;
  margin-left: 0.5rem;
}
// .calculator .digit_keys .key-0 {
//   // width: 160px;
//   // text-align: left;
//   // padding-left: 32px;
// }
.calculator .digit_keys .key-dot {
  padding-top: 1em;
  font-size: 0.75em;
}
.calculator .operator_keys .calculator-key {
  color: #777;
  border-right: 0;
  font-size: 1.5rem;
}

.calculator .function_keys {
  // background: linear-gradient(
  //   to bottom,
  //   rgba(202, 202, 204, 1) 0%,
  //   rgba(196, 194, 204, 1) 100%
  // );
  background: #ddd;
}
.calculator .operator_keys {
  // background: linear-gradient(
  //   to bottom,
  //   rgba(252, 156, 23, 1) 0%,
  //   rgba(247, 126, 27, 1) 100%
  // );
  background: #ddd;
}
