// COLORS
$color-white: #ffffff;
$color-off-white: #f5f5f5;
$color-green: #37a000;
$color-light-green: #3dd28d;
$color-blue: #416dea;
$color-dark-blue: #353866;
$color-pink: #f32c52;
$color-yellow: #ffb61e;
$color-red: #e5343d;
$color-dark-red: #bf2d35;
$color-black: #2c3136;
$color-light-black: #33383e;
