.pos_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-right: 0.8rem;
  padding-left: 0.6rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px,
    rgb(0 0 0 / 5%) 0px 4px 6px -2px;
  padding-bottom: 1rem;

  .pos_btn {
    border: 0;
    margin-right: 0.4rem;
    margin-left: 0.4rem;
    height: 45px;
    padding-right: 25px;
    padding-left: 25px;
    font-size: 1.1rem;
    border-radius: 0.3rem;

    @media (max-width: 1200px) {
      height: 38px;
      padding: 0px 10px;
    }
  }

  .new_order {
    background-color: #2d8fff;
  }
  .on_going_order {
    background-color: #3dd28d;
  }
  .kitchen_status {
    background-color: #416dea;
  }
  .qr_order {
    background-color: #f32c52;
  }
  .online_order {
    background-color: #353866;
  }

  .today_order {
    background-color: #9e6c00;
  }
}

.right_panel_wrapper {
  // background-color: #2c2c2c;

  .image_icon {
    width: 35px;
    img {
      width: 100%;
      object-fit: cover;
      cursor: pointer;
    }
  }
}

.dashboard {
  text-decoration: none;
}

.add-opening-balance-btn {
  background-color: #37a000;
  border-color: #318d01;
  color: #fff;
}
.add-opening-balance-btn:hover {
  background-color: #45c203;
  border-color: #318d01;
  color: #fff;
}
