.add_new_food{
  padding: 1rem 4rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-right: 1.5rem;
}
.ant-form-item{
  font-weight: 500;
}
.bulk_upload_btn svg{
  margin-bottom: 0.3rem;
}