.inVoice_wrapper {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  padding: 30px 90px;
  width: 500px;
  background: #f1f1f1;
  margin: 15px auto;

  p {
    margin-bottom: 0;
  }

  // .inVoice_print_area {
  // background: #ddd;
  // padding: 2rem 1rem;
  // max-width: 300px;

  // .in_voice_logo {
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;

  //   img {
  //     width: 170px;
  //     height: 30px;
  //     object-fit: cover;
  //   }
  // }
  // }
}
