.sidebar {
  height: 100%;
  min-height: calc(100vh - 30px);
}
.sidebar a {
  text-decoration: none;
}

.sidebar_logo {
  height: 4.7rem;
  border-bottom: 1px solid #3b3b3b;
  margin-bottom: 1rem;
  padding: 1rem;
  text-align: center;

  .ant-image {
    width: 130px;
    height: 50px;
  }

  img {
    height: 100%;
    width: 100%;
    // object-fit: cover;
  }
}
