.pos_system {
  min-height: calc(100vh - 142px);

  .foodItems_wrapper {
    height: calc(100vh - 190px);
    overflow-y: auto;
    padding-left: 1rem;
  }

  .search_food_wrapper {
    margin-bottom: 0.8rem;
    position: relative;
    display: 'flex';
    flex-direction: 'row';
    align-items: 'center';
    justify-content: 'center';
    width: '100%';

    .search_item_wrapper {
      margin-top: 10px;
      cursor: pointer;
      background-color: #f4f4f4;
      padding: 0.5rem 1rem;

      &:first-child {
        margin-top: 0;
      }

      img {
        object-fit: cover;
      }

      p {
        margin: 0;
      }
    }
  }

  .search_result_wrapper {
    max-height: 300px;
    overflow-y: auto;
    width: 100%;
    background-color: #f8f8f8;
    padding: 1.5rem 0rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: absolute;
    border: 1px solid #ddd;
    top: 40px;
    left: 0;
    z-index: 1;
  }
}
