.pos_system {
  min-height: calc(100vh - 142px);
}

.foodItems_wrapper {
  height: calc(100vh - 190px);
  overflow-y: auto;
  padding-left: 1rem;
}

.search_food_wrapper {
  margin-bottom: 0.8rem;
  position: relative;
  display: 'flex';
  flex-direction: 'row';
  align-items: 'center';
  justify-content: 'center';
  width: '100%';
}

.searchResultWrapper {
  max-height: 300px;
  overflow-y: auto;
  width: 100%;
  background-color: #f8f8f8;
  padding: 2rem 0rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: absolute;
  border: 1px solid #ddd;
  top: 59;
  left: 0;
  z-index: 1;
  opacity: 99;
}
