.category-image{
  object-fit: cover;
}
.ant-image-mask-info{
  padding: 0px 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
}
// .site-card-wrapper{
// }