.add_new_category{
  padding: 1.5rem 3rem;
  margin: 0rem 1.5rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.ant-form-item{
  font-weight: 500;
}
.button_group{
  display: flex;
  justify-content: flex-end;
}