.food-card {
  // position: relative;
  .food-image {
    position: relative;
    top: -12px;
    left: -12px;
    img {
      border-radius: 0.25rem;
    }
  }
  .card-body {
    padding: 0 0.8rem 0.5rem;

    .h5 {
      font-size: 1rem;
      margin: 0;
    }
  }
}
