.btn-wrapper {
  display: flex;
  grid-gap: 10px;

  button:first-child {
    font-size: 1.2rem;
  }
  button:last-child {
    color: #fff;
  }
}
.light-blue {
  background-color: #40a9ff;
}

.grand-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 00.5rem;
}
