.cart-wrapper {
  position: relative;
}

.note-icon {
  span {
    color: #40a9ff;
    font-size: 1.2rem;
    margin-right: 0.5rem;
    cursor: pointer;
  }
}

.quantity {
  width: 50px;
  padding-right: 2px;
  padding-left: 2px;
}
.delete-icon {
  span {
    cursor: pointer;
    color: #fff;
    border-color: #ff4d4f;
    color: #ff4d4f;
    font-size: 1.5rem;
  }
}

.cart-footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.btn-wrapper {
  display: flex;
  grid-gap: 10px;

  button:first-child {
    font-size: 1.2rem;
  }
  button:last-child {
    color: #fff;
  }
}
.light-blue {
  background-color: #40a9ff;
}

.grand-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

.note-btn {
  background-color: #37a000;
  border-color: #318d01;
  color: #fff;
}
.note-btn:hover {
  background-color: #45c203;
  border-color: #318d01;
  color: #fff;
}
