* {
  margin: 0px;
  padding: 0px;
  outline: none;
}
.main_wrapper {
  padding-top: 1.9rem;
  padding-right: 0;
  padding-left: 0;
}
.pos_wrapper {
  padding: 0px 15px;
}

.pos_system {
  min-height: calc(100vh - 30px);
}

.grand_total {
  color: $color-white;
  background-color: $color-blue;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  vertical-align: middle;
  border: 0;
}

.flex {
  display: flex;
}
.item_center {
  align-items: center;
}
.content_end {
  justify-content: end;
}
.content_center {
  justify-content: center;
}
.content_between {
  justify-content: space-between;
}

.text_center {
  text-align: center;
}

.premium_btn {
  opacity: 0.4;
  cursor: not-allowed;
}

.reset_btn,
.submit_btn {
  padding: 5px 40px;
  height: auto;
  font-size: 17px;
  font-weight: 600;
}

.bulk_upload_btn {
  margin-right: 1.5rem;
}
