.main-wrapper {
  padding-top: 1.9rem;
  padding-right: 0;
  padding-left: 0;
}
.pos-wrapper {
  padding-top: 15px;
}

.pos_system{
  min-height: calc(100vh - 30px);
}

.grand-total {
  color: $color-white;
  background-color: $color-blue;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}
.item-center {
  align-items: center;
}
.content-end {
  justify-content: end;
}
.content-center {
  justify-content: center;
}
.content-between {
  justify-content: space-between;
}