.main-wrapper {
  padding-top: 1.9rem;
  padding-right: 0;
  padding-left: 0;
}
.pos-wrapper {
  padding-top: 15px;
}

.grand-total {
  color: $color-white;
  background-color: $color-blue;
}

a {
  text-decoration: none;
}
