.contact_us_area {
  padding: 2rem;

  .contact_us_title {
    margin-top: 35px;
    margin-bottom: 65px;
    font-size: 82px;
    font-weight: 800;
    text-align: center;
    letter-spacing: -2px;

    span {
      font-weight: 100;
    }
  }

  .contact_address {
    .address {
      // width: 25%;
      // float: left;
      padding: 16px;
      border-left: 1px solid #eee;
      font-size: 16px;
      text-align: center;
      word-wrap: break-word;
    }
  }

  .contact_address .address:first-child {
    border-left: none;
  }
}
